.container-dogs-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


/* FINAL BOSS! */
.searchbar-home {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: aliceblue;
    opacity: 90%;
    backdrop-filter: blur(100px);
    display: grid;
    grid-template-columns: 10% 25% 10% 10% 30%;
    align-items: center;
}

.single-home-card {
    padding: 10px;
}