/* navigation bar for details */
/* The navigation bar */
.nav-dog-detail {
    position: fixed;
    background-color: rgba(240, 248, 255, .5);

    backdrop-filter: blur(3px);
    box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.5);
    height: 75px;
    font-size: 45px;
    top: 0;
    right: 0;
    left: 0;
}

/* link */
.nav-dog-detail a {
    text-decoration: none;
    color: #455F6C;
    transition: .3s all;
}

.nav-dog-detail a:hover {
    color: cadetblue;
    /*     background-color: rgb(216, 225, 233);
    border-radius: 10px;
    padding: 5px; */
}


/* styles for principal card */
.card-details {
    border-radius: 3px;
    width: 55%;
    max-width: 950px;
    -webkit-box-shadow: -2px 0px 19px 0px rgba(0, 0, 0, 0.65);
    -moz-box-shadow: -2px 0px 19px 0px rgba(0, 0, 0, 0.65);
    box-shadow: -2px 0px 19px 0px rgba(0, 0, 0, 0.65);
    padding: 10px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, .2);
    backdrop-filter: blur(4px);
}

.image-details {
    margin-top: 20px;
    border-radius: 20px;
    width: 670px;
    object-fit: cover;
    -webkit-box-shadow: inset -2px 0px 63px 8px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: inset -2px 0px 63px 8px rgba(0, 0, 0, 0.54);
    box-shadow: inset -2px 0px 63px 8px rgba(0, 0, 0, 0.54);
}


.info-dog-details h1 {
    color: rgb(69, 95, 108);

    width: 50%;
    margin: auto;
    border-bottom: 1px solid black;
}


/* additional information from google about doggy */
#additional-information {
    color: rgb(69, 95, 108);
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    transition: .3s all;
}

#additional-information:hover {
    background-color: rgb(69, 95, 108);
    color: aliceblue;
    border-radius: 10px;
}